<div fxLayout="row">
  <mat-card  fxFlex="50" class="cardhome">
    <mat-card-title>Iniciar sesion</mat-card-title>
  </mat-card>
  <mat-card  fxFlex="50" class="cardhome">
      <mat-card-title>Registro</mat-card-title>
    </mat-card>
</div>
<footer class="footerhome">

</footer>
